html
  include head
  body
    .container
      .row
        h4 Database Methods
        .s12
            .card
              .card-action
                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/populate-db') Populate Database
                            i.material-icons.left arrow_forward
                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/clear-db') Clear Database
                            i.material-icons.left arrow_forward
                
      include ack
