html
  include head
  body
    .container
      .row
        h4 Home
        .s12
            .card
              .card-action
                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/allocate-budget') Record Budget Allocation
                            i.material-icons.left arrow_forward
                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/spend-budget') Record Budget Spending
                            i.material-icons.left arrow_forward
                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/view-blockchain') View Blockchain
                            i.material-icons.left arrow_forward

                .row
                    .s12
                        a.btn-large.waves-effect.waves-dark.blue(href='/view-blockchain-diagram') View Blockchain Diagram
                            i.material-icons.left arrow_forward


                
      include ack
